@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<html>
<head>
    <title></title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/logoo.jpg" rel="stylesheet" />


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-image:url('/Content/images/bgp.jpg')">



    <div style="padding-left:6em">

    </div>


    <div class="row">
        <div class="col-md-8">
            <div style="padding-left:6em">





                <p>
                    <h2>ABOUT MUSICO:</h2>
                    <blockquote cite="http://www.musico.com">
                        MUSICO'S ultimate goal is to build a fastest songs downloading website ever.
                    </blockquote>
                    <h3>WHY CHOOSE US:</h3>
                </p>
                <blockquote>
                    <p>
                        Okay I’m just going to say it. MUSICO website is probably the best of the lot. It is perfect.
                        Musico is the world’s leading social sound platform where anyone can listen sounds and share them everywhere. It takes just a click to share sounds to Twitter and Facebook. MusicCloud can be accessed anywhere using the official iPhone and Android apps, as well as hundreds of creation and sharing apps built on the MusicCloud platform.
                    </p>
                </blockquote>














            </div>



        </div>

    </div>




</body>

</html>
