@{
    
       ViewBag.Title = "Index";
       Layout = "~/Views/Shared/_Layout.cshtml";
       Layout = "~/Views/Shared/Category_shared.cshtml";
    }

<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <link href="~/Content/bootstrap-hover-dropdown.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <link href="~/Content/owl.carousel.css" rel="stylesheet">

    <link href="~/Content/responsive.css" rel="stylesheet">


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/custom.js"></script>

    <script src="~/Scripts/owl.carousel.min.js"></script>
</head>

<body >



            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="~/Content/images/1.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Kesha</h4>
                                <h4>
                                    <a href="#">Jazz</a>
                                </h4>
                                <p>Search more songs at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class=" col-md-3">
                        <div class="thumbnail">
                            <img src="~/Content/images/3.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-left">Eminem</h4>
                                <h4>
                                    <a href="#">Rock</a>
                                </h4>
                                <p>This is a short description.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-left">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="~/Content/images/2.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-left">Britney</h4>
                                <h4>
                                    <a href="#">Disco</a>
                                </h4>
                                <p>This is a short description. .</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        











</body>

</html>