@{
    ViewBag.Title = "Play";

}

<center><h1><strong>Playing Song</strong></h1> </center>
    <link href="~/Content/stylee.css" rel="stylesheet">

    <html>
    <body style="background-image:url('/Content/images/y.png')">


        <div>
            <div>


                <div>
                    <audio controls>

                        <source src="~/Files/@Model.Title" type="audio/mp3">


                    </audio>

                </div>
            </div>
        </div>

    </body>
</html>
