@{
    ViewBag.Title = "Details";
}
@using MvcApplication3.Models
<h2>DETAILS</h2>

<html>

<body style="background-image:url('/Content/images/bgp.jpg')">
    <p>


    <p>         @Html.ActionLink("Back to List", "Main")     </p>
</body>

</html>